 body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1070px;
    padding: 0px 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
}

.header::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:#EBE3E0;;
}


.header__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 4rem;
    
}

.header__name {
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    color: #7E371C;
}

.header__left {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items:center;
}
.header__logo {
    background: url("../visdom/img/logo.jpg");
    height: 50px;
    width: 50px;
    z-index: 3;
}

.header__name {
    width: 110px;
    font-size: 22px;
    font-weight: 700;
}

.header__burger{
    display:none;
}

.nav {
    display:flex;
    width:600px;
    justify-content: space-between;
    font-size: 20px;
}

.nav__link{
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    margin:0px 0px 0px 20px;
    font-size: 20px;
    color: #fff;
}

.nav__link:hover {
    color: #F97D29;
    transition: .3s linear;
}

.lan__swap {
    background: url("../visdom/img/Language\ flag.jpg");
    width: 30px;
    height: 30px;
    z-index: 3;
    margin-left: 20px;
}









/* Main Screen */
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.main__screen {
    flex: 1 0 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__text {
    padding-bottom: 250px;
    z-index: 10;
    line-height: 30px;
}

.title {
    width: 100%;
    max-width: 591px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 48px;
}

.subtitle {
    width: 100%;
    max-width: 591px;
    font-size: 24px;
    color: #fff;
    font-weight: 300px;
    padding-top: 25px;
}

.main__back , .main__fil {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main__back {
    background:url("../visdom/img/main__back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.main__fil {
    background-color: #93543C;
    opacity: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}



/* Content */

.content{
    min-height: 100%;
}
.our-team {
    background-color:#DFD7D4;
}
.our-team__inner {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team__left {
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
    color:#fff
}

.our-team__title {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 46px;
    font-family: 'Fira Sans', sans-serif;
}

.our-team__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-top: 30px;
}


.about__us {
    padding-top: 60px;
}

.about__btn {
    height: 45px;
    width: 170px;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding:10px 40px ;
    border-radius: 50px;
    background-color: #BDBFFF ;
    font-size: 18px;
}

.our-team__right {
    width: 100%;
    max-width: 420px;
    height: 300px;
    background: url("../visdom/img/macbook.jpg") no-repeat;
}

.our-partners {
    background-color:#BDBFFF ;
}

.our-partners__inner {
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 75px 0;
}

.our-partners__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:#fff;
    max-width: 800px;
}

.our-partners__title {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 46px;
    font-family: 'Fira Sans', sans-serif;
}

.our-partners__subtitle {
    font-size: 24px;
    font-weight: 400;    
    line-height: 29px;
    padding-top: 30px;

}

.our-partners__slider {
    display: flex;
    justify-content:space-between;
    height: 260px;
    padding-top: 60px;
}

.slider1 {
    width: 200px;
    background: url("../visdom/img/BAYER.jpg") no-repeat;
}

.slider2 {
    background: url("../visdom/img/Fenix.jpg") no-repeat;
    width: 200px;
}

.slider3 {
    background: url("../visdom/img/MORE.jpg") no-repeat;
    width: 200px;
}

.slider4 {
    background: url("../visdom/img/Uvero.jpg") no-repeat;
    width: 200px;
}

.slider__btn {
    display: flex;
    justify-content:center;
    height: 80px;
    padding-top: 50px;
}

.slider__btn1{
    width: 22px;
    background: url("../visdom/img/left.jpg") no-repeat;
    padding-right: 88px;
}

.slider__btn2{
    width: 22px;
    background: url("../visdom/img/right.jpg") no-repeat;
}

.latest__news {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75rem;
    padding-top: 80px;
}

.news-title{
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 1px;
}

.news-subtitle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    line-height: 31px;
    font-size: 26px;
    padding-top: 60px;
}

.news-date{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
    color: #3E2B8F;
}

.news-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 25px;
}

.read__more {
    padding-top: 50px;
}

.news-btn{
    height: 45px;
    width: 172px;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 12px 40px ;
    border-radius: 50px;
    background-color: #BDBFFF ;
    font-size: 16px;
}


.news__inner{
    padding-top: 35px;
}

.news__border{
    border-top: 2px solid #DDDD;
}

.news-picks{
    background:url("../visdom/img/telegram.jpg") no-repeat;
    width: 100%;
    max-width: 570px;
    height: 280px;
    margin-top: 30px;
}

.footer{
    margin-top: 110px;
    flex: 0 0 auto;
    height: 7rem;
    background-color:#EBE3E0;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    padding:30px 0;
}

.footer__left{
    width: 100%;
    display:flex;
    max-width: 640px;
    justify-content: space-between;
    align-items: center;
}

.footer__inf{
    max-width: 370px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #7E371C;
}

.footer__right{
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vk{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border: 2px solid #6383A8;
    border-radius: 100%;
    padding: 5px 5px;
    text-decoration: none;
    font-weight:600;
    color:#6383A8;
}

.fb{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border: 2px solid #3B5998;
    border-radius: 100%;
    padding: 6px 12px;
    text-decoration: none;
    font-weight:600;
    color: #3B5998;
}